<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">	
	<property name="project.name" value="${ddata.solution.solutionName}Backend" />
	<property name="log.home" value="../logs/<gg[$]>{project.name}" />
	<property name="log.totalsizecap" value="500MB" />
	<property name="log.maxsize" value="50MB" /> <!-- 日志文件大小 -->

	<contextName><gg[$]>{project.name}</contextName>
	<jmxConfigurator />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="<gg[$]>{project.name}"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>return message.contains("OperationOID");</expression>
			</evaluator>
			<OnMatch>ACCEPT</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<Encoding>UTF-8</Encoding>
		<File><gg[$]>{log.home}/操作事件日志/<gg[$]>{project.name}_用户操作及脚本日志.log</File>
		<!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern><gg[$]>{log.home}/操作事件日志/<gg[$]>{project.name}_用户操作及脚本日志.%d{yyyyMMdd}.%i.log.zip</FileNamePattern>
			<!-- 如果按天来回滚，则最大保存时间为7天，7天之前的都将被清理掉 -->
			<maxHistory>7</maxHistory>
			<totalSizeCap><gg[$]>{log.totalsizecap}</totalSizeCap>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <maxFileSize><gg[$]>{log.maxsize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>
	 
	<appender name="spring"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File><gg[$]>{log.home}/系统事件日志/spring_系统事件日志.log</File>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	        <fileNamePattern><gg[$]>{log.home}/系统事件日志/spring_系统事件日志.%d{yyyyMMdd}.%i.log</fileNamePattern>
	        <MaxHistory>7</MaxHistory>
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize><gg[$]>{log.maxsize}</maxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File><gg[$]>{log.home}/系统错误日志/error_错误日志.log</File>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	        <fileNamePattern><gg[$]>{log.home}/系统错误日志/error_错误日志.%d{yyyyMMdd}.%i.log</fileNamePattern>
	        <MaxHistory>7</MaxHistory>
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize><gg[$]>{log.maxsize}</maxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="mybatis" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file><gg[$]>{log.home}/数据库日志/mybatis_数据库日志.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	        <fileNamePattern><gg[$]>{log.home}/数据库日志/mybatis_数据库日志.%d{yyyyMMdd}.%i.log</fileNamePattern>
	        <MaxHistory>7</MaxHistory>
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize><gg[$]>{log.maxsize}</maxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="INFO" addtivity="false">
	    <appender-ref ref="spring" />
	    <appender-ref ref="error" />
	</logger>

	<logger name="com.dcjet" level="DEBUG" addtivity="false">
	    <appender-ref ref="<gg[$]>{project.name}" />
	    <appender-ref ref="error" />
	</logger>

	<logger name="org.apache.ibatis" level="DEBUG">  
	    <appender-ref ref="mybatis" />
	    <appender-ref ref="error" />
	</logger>
	<logger name="java.sql" level="DEBUG">  
	    <appender-ref ref="mybatis" />
	    <appender-ref ref="error" />
	</logger>
	<logger name="druid.sql" level="DEBUG">  
	    <appender-ref ref="mybatis" />
	    <appender-ref ref="error" />
	</logger>
	<logger name="net.sf.ehcache" level="INFO" /> 
	
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="error" />
	</root>
</configuration>