<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcjet.${ddata.solution.solutionName}.dao.${data.moduleName}HeadMapper" >
  <resultMap id="BaseResultMap" type="com.dcjet.${ddata.solution.solutionName}.entity.${data.moduleName}HeadEntity" >
    {@each data.fields.rows as di, index}
      {@if di.PRIMARYKEY == "1" }
    <id column="${di.FIELDNAME}" property="${di.FIELDNAME|getDcm}" jdbcType="VARCHAR" />
      {@else}
    <result column="${di.FIELDNAME}" property="${di.FIELDNAME|getDcm}" jdbcType="VARCHAR" />
      {@/if}
    {@/each}
  </resultMap>
  
  <sql id="Base_Column_List" >
  <% var temp1 = 0;%>
  {@each data.fields.rows as di, index}
     {@if temp1>0},{@/if}${di.FIELDNAME}
     <% temp1 = temp1 + 1;%>
  {@/each}
  </sql>
  
  <sql id="condition">
  {@each data.fields.rows as di, index}
      {@if di.isQueryConditionShow == "Y"}
    <if test="${di.FIELDNAME|getDcm} != null and ${di.FIELDNAME|getDcm} != ''"> 
		  ${di|generateMapperCondition}
	  </if>
      {@/if}
  {@/each}
  </sql>
	
  <select id="selectHeadListBySearch" parameterType="com.dcjet.${ddata.solution.solutionName}.search.${data.moduleName}HeadSearch" resultMap="BaseResultMap">
   	select t.* from (
    SELECT  <include refid="Base_Column_List" />, ROW_NUMBER () OVER (ORDER BY INSERT_TIME desc) AS RowNumber 
    from ${data.dataSourceNameTable}   
    <where>
		<include refid="condition"></include>
	</where>
    ) t
    WHERE RowNumber BETWEEN <gg[$]>{rows}*<gg[$]>{page}-<gg[$]>{rows}+1 AND <gg[$]>{rows}*<gg[$]>{page}
  </select>
  
  
  <!-- 分页统计-->
  <select id="selectHeadListCountBySearch" parameterType="com.dcjet.${ddata.solution.solutionName}.search.${data.moduleName}HeadSearch" resultType="int">
   	SELECT COUNT(1) FROM (
    SELECT  <include refid="Base_Column_List" /> from ${data.dataSourceNameTable}    
    <where>
		<include refid="condition"></include>
	</where>
    ) t 
  </select>
  
  <select id="selectHeadListForExport" parameterType="com.dcjet.${ddata.solution.solutionName}.search.${data.moduleName}HeadSearch" resultMap="BaseResultMap">
   	select t.* from (
    SELECT  <include refid="Base_Column_List" /> 
    from ${data.dataSourceNameTable}  
    <where>
		<include refid="condition"></include>
	</where>
    ) t
  </select>
</mapper>