<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>${data.bigModule} Head</title>
    <link type="text/css" href="../../dcUIFramework/jquery-easyui/themes/dcjet/easyui.css" rel="stylesheet" />
    <link type="text/css" href="../../dcUIFramework/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link type="text/css" href="../../res/css/dc.default.css" rel="stylesheet" />
    <script type="text/javascript" src="../../dcUIFramework/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../dcUIFramework/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../dcUIFramework/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../dcUIFramework/dc.framework-1.0.1.js"></script>
    <script type="text/javascript" src="../../dc.pageConfig.js"></script>
</head>
<body>
    <div class="dc-form-wrapper">
        <form>
            <div class="dc-data-wrapper dc-panel" id="dc-data-wrapper">
                <div class="dc-panel-body">
                    <table class="dc-dataTable">
                         <% var temp = 0; %>
                            {@each data.fields.rows as di, index}
                                {@if di.isEditShow == "Y"}
                                
                                    {@if temp % data.pageColumnCount == 0}
                            <tr>   
                                    {@/if}
                                <th>${di.FIELDDESC}</th>
                                <td>$${di|generateHeadControls}</td>
                                    {@if temp % data.pageColumnCount == data.pageColumnCount -1 }
                            </tr>   
                                    {@/if}
                                    <% temp = temp + 1; %>
                                {@/if}
                            {@/each}
                            {@if temp % data.pageColumnCount >0 }
                            </tr>
                            {@/if}
                    </table>
                </div>
                <div class="dc-panel-footer">
                    <a id="d_confirm" dcc="button" class="dc-btn dc-btn-ok">确定</a>
                    <a id="d_cancel" dcc="button" class="dc-btn dc-btn-cancel">取消</a>
                    <a id="d_hide" dcc="button" class="dc-btn dc-btn-hide">隐藏</a>
                </div>
            </div>
            <div class="dc-search-wrapper dc-panel" id="dc-search-wrapper">
                <div class="dc-panel-head">
                    <a id="s_search" dcc="button" class="dc-btn dc-btn-search">查询</a>
                    <a id="s_searchHidden" dcc="button" class="dc-searchHidden dc-btn dc-btn-hideSearch">隐藏查询</a>
                </div>
                <div class="dc-panel-body">
                    <!-- 查询条件 -->
                    <table class="dc-searchTable">
                        <% var temp = 0; %>
                        {@each data.fields.rows as di, index}
                            {@if di.isQueryConditionShow == "Y"}
                            
                                {@if temp % data.pageColumnCount == 0}
                        <tr>   
                                {@/if}
                            <th>${di.FIELDDESC}</th>
                            <td>$${di|generateIndexControls}</td>
                                {@if temp % data.pageColumnCount == data.pageColumnCount -1 }
                        </tr>   
                                {@/if}
                                <% temp = temp + 1; %>
                            {@/if}
                        {@/each}
                        {@if temp % data.pageColumnCount >0 }
                        </tr>
                        {@/if}
                    </table>
                </div>
            </div>
            <div class="dc-toolbar-wrapper dc-panel">
                <div class="dc-panel-body">
                    <a id="t_add" dcc="button" class="dc-btn dc-btn-add">新增</a>
                    {@if data.isGenerateImport == "true"}
                    <a id="t_import" dcc="button" class="dc-btn dc-btn-export">导入</a>
                    {@/if}
                    {@if data.isGenerateExport == "true"}
                    <a id="t_export" dcc="button" class="dc-btn dc-btn-import">导出</a>
                    {@/if}
                </div>
            </div>
            <div class="dc-grid-wrapper dc-panel">
                <table id="g_table" dcc="datagrid"></table>
            </div>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    //统一页面参数区域
    var moduleUrl = dc.project.backendUrl + "/${data.moduleName}";
    var headOid = dc.util.getRequest().headOid;
    dc.config = {
        page: {
            //页面code
            pagecode:"page-body"
        },
        control: {
            {@each data.fields.rows as di, index}
                        {@if di.isQueryConditionShow == "Y"}
                            {@if di.controlType == "autocomplete" && di.codeType!="" }
            "s_${di.FIELDNAME|getDcm}": { code: "${di.codeType}" , novalidate:true },   
                            {@else}
            "s_${di.FIELDNAME|getDcm}": { novalidate:true },                             
                            {@/if}
                        {@/if}
            {@/each}
            {@each data.fields.rows as di, index}
                        {@if di.isEditShow == "Y"}
                            {@if di.controlType == "autocomplete" && di.codeType!="" }
            "d_${di.FIELDNAME|getDcm}": { code: "${di.codeType}" },   
                            {@else if (di.DBTYPE == "numeric" || di.DBTYPE == "number") && di.SCALE !="0" } 
            "d_${di.FIELDNAME|getDcm}": { precision: ${di.SCALE} },           
                            {@/if}
                        {@/if}
            {@/each}
            {@if data.isGenerateImport == "true"}
            "t_import": { "iconCls": "icon-dc-import" },
            {@/if}
            {@if data.isGenerateExport == "true"}
            "t_export": { "iconCls": "icon-dc-export" },
            {@/if}
            "t_add": { "iconCls": "icon-dc-add" },
            "t_set": { "iconCls": "icon-dc-edit" },
            "g_table": {
                url: moduleUrl + "/getList",
                method: "POST",
                idField: "oid",
                checkbox: false,
                queryParams: { "${data.linkField|getDcm}": headOid },
                columns: [[
                    {
                        title: "操作", field: 'defaut_opt', formatter: function (value, row, index) {
                            var edit = "<a href='javascript:;' onclick=\"btnUpdate_click('" + row.oid + "')\" >编辑</a>";
                            var del = "<a href='javascript:;' onclick=\"btnDelete_click('" + row.oid + "')\" >删除</a>";
                            return edit +" \\ "+ del;
                        }
                    },
                    <% var temp1 =0;%>
                {@each data.fields.rows as di, index}
                        {@if di.isTableShow == "Y"}
                            {@if di.DBTYPE == "datetime"}
                    {@if temp1>0},{@/if}{ title: "${di.FIELDDESC}", field: '${di.FIELDNAME|getDcm}', formatter: dc.out.dateFormatter }
                            {@else}
                    {@if temp1>0},{@/if}{ title: "${di.FIELDDESC}", field: '${di.FIELDNAME|getDcm}' }
                            {@/if}
                            <% temp1 =temp1 + 1;%>
                        {@/if}
                {@/each}
                ]]
            }
        },
        fieldValid: {
             <% temp1 =0;%>
                {@each data.fields.rows as di, index}
                        {@if di.isEditShow == "Y" && di.controlType == "1" }
            {@if temp1>0},{@/if}$${di|generateFieldValid}             
                            <% temp1 =temp1 + 1;%>
                        {@/if}
            {@/each}
        }
    };

    dcReady(function () {
        //初始化所有控件
        dc.init();
        $(".dc-data-wrapper").hide();
        //事件绑定区域
        //查询
        $("#s_search").bind("click", reloadDatagrid);

        //新增
        $("#t_add").click(function () {
            editOid = null;
            clearEditArea();
            $('.dc-data-wrapper').show();
            dc.autoHeight();
        });

        //隐藏
        $("#d_hide").click(closeEditArea);

        //取消
        $("#d_cancel").click(closeEditArea);

        //确认保存
        $("#d_confirm").click(function () {
            var entity = dc.getModel("#dc-data-wrapper");
            entity.oid = editOid;
            entity.${data.linkField|getDcm} = headOid;
            //控件验证
            if ($(".dc-dataTable").form("validate")) {
                //逻辑校验

                //提交
                dc.post(moduleUrl + "/edit", entity, function (data) {
                    if (data && data.success) {
                        dc.info.alert("保存成功", {
                            fn: function () {
                                closeEditArea();
                                reloadDatagrid();
                            }
                        });
                    }
                    else {
                        dc.info.alert(data.err || "保存失败");
                    }
                });
            }
        });
        {@if data.isGenerateImport == "true"}
        //导入
        $("#t_import").bind("click", function () {
            dc.info.show("待实现");
        });
        {@/if}
        {@if data.isGenerateExport == "true"}
        //导出
        $("#t_export").bind("click", function () {
            var search = dc.getModel("#dc-search-wrapper");
            search.${data.linkField|getDcm} = headOid;
            window.location.href = moduleUrl + "/export?" + $.param(search);
        });
        {@/if}

    });

    //主id
    var editOid = null;

    //清除编辑区域
    var clearEditArea = function () {
        dc.setModel("#dc-data-wrapper", null);
    };

    //关闭编辑区域
    var closeEditArea = function () {
        clearEditArea();
        $(".dc-data-wrapper").hide();
        editOid = null;
        dc.autoHeight();
    };

    //重载表格数据
    var reloadDatagrid = function () {
        var search = dc.getModel("#dc-search-wrapper");
        search.${data.linkField|getDcm} = headOid;
        $('#g_table').datagrid('reload', search);
    }

    //编辑
    var btnUpdate_click = function (oid) {
        clearEditArea();
        dc.post(moduleUrl + "/get", { "oid": oid, "${data.linkField|getDcm}": headOid }, function (data) {
            if (data && data.success) {
                var model = data.data;
                dc.setModel("#dc-data-wrapper", model);
                editOid = model.oid;
            }
        });
        $('#dc-data-wrapper').show();
    };

    //删除
    var btnDelete_click = function (oid) {
        dc.info.confirm("您确定要删除所选择的记录吗?", {
            title: "是否删除",
            fn: function (res) {
                if (res) {
                    //调用删除
                    dc.post(moduleUrl + "/delete", { oid: oid, "${data.linkField|getDcm}": headOid }, function (data) {
                        if (data.success) {
                            dc.info.alert("操作成功");
                            closeEditArea();
                            reloadDatagrid();
                        }
                        else {
                            console.error(data.data);
                            dc.info.alert("删除失败");
                        }
                    });
                }
            }
        });
    };
</script>