<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <title>${data.bigModule} Head</title>
    <link type="text/css" href="../../../dcUIFramework/jquery-easyui/themes/dcjet/easyui.css" rel="stylesheet" />
    <link type="text/css" href="../../../dcUIFramework/jquery-easyui/themes/dcjet/icon.css" rel="stylesheet" />
    <link type="text/css" href="../../../dcUIFramework/res/css/dc.default.css" rel="stylesheet" />
    <script type="text/javascript" src="../../../dcUIFramework/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/res/js/jquery-selectlist/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/dc.framework-1.0.2.js"></script>
    <script type="text/javascript" src="../../../dc.pageConfig.js"></script>
</head>
<body>
    <div class="dc-form-wrapper">
        <form>
            <div class="dc-panel">
                <div class="dc-panel-body">
                    <div class="dc-data-wrapper">
                        <table class="dc-dataTable">
                                <% var temp = 0; %>
                            {@each data.fields.rows as di, index}
                                {@if di.isEditShow == "Y"}
                                
                                    {@if temp % data.pageColumnCount == 0}
                            <tr>   
                                    {@/if}
                                <th>${di.FIELDDESC}</th>
                                <td>$${di|generateHeadControls}</td>
                                    {@if temp % data.pageColumnCount == data.pageColumnCount -1 }
                            </tr>   
                                    {@/if}
                                    <% temp = temp + 1; %>
                                {@/if}
                            {@/each}
                            {@if temp % data.pageColumnCount >0 }
                            </tr>
                            {@/if}
                        </table>
                    </div>
                    <div class="dc-foot-wrapper">
                        <a id="f_confirm" dcc="button" class="dc-btn dc-btn-ok">确定</a>
                        <a id="f_cancel" dcc="button" class="dc-btn dc-btn-cancel">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    //统一页面参数区域
    var moduleUrl = dc.project.backendUrl + "/${data.moduleName}";
    //控件定义区域
    dc.config = {
        page: {
            //页面code
            pagecode: "${ddata.pageCode}-head"
        },
        //控件配置区域
        control: {
             <% var temp1 =0;%>
                {@each data.fields.rows as di, index}
                        {@if di.isEditShow == "Y"}
                            {@if di.controlType == "autocomplete" && di.codeType!="" }
            {@if temp1>0},{@/if}"d_${di.FIELDNAME|getDcm}": { code: "${di.codeType}" }  
                            <% temp1 =temp1 + 1;%>
                            {@else if (di.DBTYPE == "numeric" || di.DBTYPE == "number") && di.SCALE !="0" } 
            {@if temp1>0},{@/if}"d_${di.FIELDNAME|getDcm}": { precision: ${di.SCALE} }
                            <% temp1 =temp1 + 1;%>          
                            {@/if}
                            
                        {@/if}

                {@/each}
            "f_confirm": { onClick: dc_save },
            "f_cancel": { onClick: dc_back }
        },
        //字段验证区域
        fieldValid: {
            <% temp1 =0;%>
                {@each data.fields.rows as di, index}
                        {@if di.isEditShow == "Y" && di.controlType == "1"}
            $${di|generateFieldValid},             
                            <% temp1 =temp1 + 1;%>
                        {@/if}
            {@/each}
            "dc-company":"www.dcjet.com.cn"
        }
    };
    //获取请求oid
    var oid = dc.util.getRequest().oid;


        //确认函数
        function dc_save() {
            var entity = dc.getModel("form");
            entity.oid = oid;

            //控件验证
            if ($("form").form("validate")) {
                //逻辑校验

                //提交
                dc.post(moduleUrl + "/edit", entity, function (data) {
                    if (data && data.success) {
                        dc.info.alert("保存成功",
                            {
                                fn: function () {
                                    if (!oid) {
                                        oid = data.data;
                                        {@if ddata.body}
                                        //tab操作
                                        dc.invoke("${ddata.pageCode}-tabs",
                                            function () {
                                                if (this.addBodyTab)
                                                    this.addBodyTab(oid);
                                            });
                                        {@else}
                                        dc_back();
                                        {@/if}
                                    } else {
                                        //更新时，不做特殊处理
                                        {@if !ddata.body}
                                        dc_back();
                                        {@/if}
                                    }
                                }
                            });
                    } else {
                        dc.info.alert(data.error || "新增失败");
                    }
                });
            }
        }
        //返回函数
        function dc_back() {
            var addUrl = dc.util.getUrl() + ("/index.html");
            dc.invoke("${ddata.pageCode}-tabs",
                function () {
                    this.dc.out.redirect(addUrl, "${data.bigModule} Index");
                });
            }
        $(function () {
            //初始化所有控件
            dc.init();
            //事件绑定区域
            //初始化页面赋值
            //dc.setValue("d_compNo", "9999999999");
            if (oid) {
                dc.post(moduleUrl + "/get", { "oid": oid }, function (data) {
                    if (data && data.success) {
                        dc.setModel("form", data.data);
                    }
                });
            }
        });
</script>