<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${ddata.bigModule} Tabs</title>
    <link type="text/css" href="../../../dcUIFramework/jquery-easyui/themes/dcjet/easyui.css" rel="stylesheet" />
    <link type="text/css" href="../../../dcUIFramework/jquery-easyui/themes/dcjet/icon.css" rel="stylesheet" />
    <link type="text/css" href="../../../dcUIFramework/res/css/dc.default.css" rel="stylesheet" />
    <script type="text/javascript" src="../../../dcUIFramework/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/res/js/jquery-selectlist/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../../../dcUIFramework/dc.framework-1.0.2.js"></script>
    <script type="text/javascript" src="../../../dc.pageConfig.js"></script>
</head>
<body>
<div id="tabs" dcc="tabs">
</div>
</body>
</html>
<script type="text/javascript">
    dc.config = {
        page: {
            //页面code
            pagecode: "page-tabs"
        }
    };
    $(function() {
        dc.init();
        var requestParams = dc.util.getRequest();
        var state = requestParams.state;
        var oid = requestParams.oid;
        if (state && state == "add") {
            var headTab =
            {
                id: "tb_head",
                title: "表头信息",
                href: "head.html",
                selected: true
            };
            dc.tabs.add("tabs", headTab);
        } else if (state && state == "edit") {
            var headTab =
            {
                id: "tb_head",
                title: "表头信息",
                href: "head.html?oid=" + oid,
                selected: true
            };
            dc.tabs.add("tabs", headTab);
            {@if data.body}
            var bodyTab =
            {
                id: "tb_edit",
                title: "表体信息",
                href: "body.html?headOid=" + oid,
                selected: false
            };
            dc.tabs.add("tabs", bodyTab);
            {@/if}
        }

    });

    /**
     * 添加BodyTab
     * @param headOid
     * @constructor
     */
    function addBodyTab(headOid)
    {
        {@if data.body}
        var bodyTab =
        {
            id :"tb_edit",
            title : "表体信息",
            href :"body.html?headOid=" + headOid,
            selected: false
        };
        dc.tabs.add("tabs",bodyTab);
        dc.tabs.select("tabs","tb_edit");
         {@/if}
    }

</script>